{% extends 'component/basePage.html' %}
{% block title %}Product Edit Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Update Selected Item</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <a class="btn btn-secondary btn-sm" href="{% url 'dashboard-product' %}">Cancel</a>
                <input class="btn btn-info btn-sm" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock %}