{% extends 'component/basePage.html' %}
{% block title %}
Products' List
{% endblock  %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'component/topStatisticsAndInfo.html' %}


<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <div class="d-grid gap-2">
                        <input class="btn btn-success" type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 overflow-scroll table-responsive" style="max-height: 450px;">
            <table class="table table-white table-hover">
                <thead class="table-secondary sticky-top">
                    <tr class="text-white">
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for products in products %}
                    <tr>
                        <td>{{ products.name }}</td>
                        <td>{{ products.category }}</td>
                        <td>{{ products.quantity }}</td>
                        <td>
                            <a class="btn btn-info btn-sm mr-2" href="{% url 'dashboard-products-edit' products.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2" href="{% url 'dashboard-products-delete' products.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!--End Table-->
      
{% endblock %}