
{% extends 'component/basePage.html' %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Logout Page</h4>
            <hr>
            <div class="alert alert-success">
                <h5>
                    Your password reset request has been received. A confirmation email with instructions to 
                    reset your password has been sent to your registered email address. Please check your inbox 
                    and follow the steps provided. If you do not see the email, kindly check your spam or junk folder.
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
