{% extends 'component/basePage.html' %}
{% block title %}Reset Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
                {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="border p-3 bg-white">
            <h4>Reset Password for {{user.username}}</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input class="btn btn-dark" type="submit" value="Send Request">
            </form>
        </div>
    </div>
</div>


{% endblock %}